aside.aside
  .aside__wrapper
    .aside__wrapper-body
      header.aside__header
        .logo
          img(src="./images/logo.png", width="103" height="32" alt="")
        a(href="#!").aside__cart
          i.icon-cart
          span.span 23  
      nav.navigation(aria-label="Main")
        ul
          li.active
            span 
              span.icon
                i.icon-menu-1
              span.span Personal account
          li
            a(href="#!") 
              span.icon
                i.icon-menu-2
              span.span My Orders
          li
            a(href="#!") 
              span.icon
                span.icon__round
                i.icon-menu-3
              span.span My Messages
          li
            a(href="#!") 
              span.icon
                i.icon-menu-4
              span.span Account balance
          li
            a(href="#!") 
              span.icon
                i.icon-menu-5
              span.span My bonuses
          li
            a(href="#!") 
              span.icon
                i.icon-menu-6
              span.span Special offers
          li
            a(href="#!") 
              span.icon
                i.icon-menu-7
              span.span My Documents
          li
            a(href="#!") 
              span.icon
                i.icon-menu-8
              span.span Payment and delivery
          li
            a(href="#!") 
              span.icon
                i.icon-menu-9
              span.span News

      nav.navigation.--bottom
        ul
          //- li
          //-   a(href="#!") 
          //-     span.icon
          //-       b EN
          //-     span.span English
          //-       i.icon-arrow-down
          li
            label(for="lang-select") 
              span.icon
                b EN
              select#lang-select.lang-selectric
                option(value="English") English
                option(value="Russian") Russian
                option(value="Ukrainian") Ukrainian
          li
            a(href="#!") 
              span.icon
                i.icon-menu-10
              span.span My Settings
          li
            a(href="#!") 
              span.icon
                i.icon-menu-11
              span.span Exit
