.exel.j-btn-target.is-active#exel
  button.btn-close.j-btn(type='button' data-id='exel')
  .exel__wrapper
    .exel__wrapper-body
      form(action="#!") 
        select
          option(value="")  Delivery period not more than days 1
          option(value="")  Delivery period not more than days 2
          option(value="")  Delivery 32
        button(type="submit").btn.--block Search
        .clear30
        a(href="#!").btn.--border.--sm Download sample
      
.base-shadow