// Footer js
script(src="./js/libs/jquery/jquery.min.js")
script(src="./js/libs/jquery/jquery-migrate.min.js")
script(src="./js/libs/magnific-popup/jquery.magnific-popup.min.js")
script(src="./js/libs/slick/slick.min.js")
script(src="./js/libs/jquery.maskedinput.min.js")
script(src="./js/libs/lazysizes.min.js")
script(src="./js/libs/jquery.malihu.PageScroll2id.min.js")
script(src="./js/libs/jquery.validate.min.js")
script(src="./js/libs/fancybox/jquery.fancybox.min.js")