// Footer js
script(src="./js/libs/jquery/jquery.min.js")
script(src="./js/libs/jquery/jquery-migrate.min.js")
script(src="./js/libs/magnific-popup/jquery.magnific-popup.min.js")
script(src="./js/libs/jquery.maskedinput.min.js")
script(src="./js/libs/jquery.validate.min.js")
script(src="./js/libs/selectric/jquery.selectric.js")
script(src="./js/libs/datepicker/datepicker.min.js")
script(src="./js/libs/datepicker/i18n/datepicker.en.js")
script(src="./js/libs/bootstrap/bootstrap.min.js")
script(src="./js/libs/tooltipster/js/tooltipster.bundle.min.js")
script(src="./js/libs/select2/select2.full.min.js")