include ./_mixin_btn
include ./_mixin_breadcrumbs
include ./_mixin_pagination
include ./_mixin_field-text
include ./_mixin_field-radio
include ./_mixin_field-checkbox
include ./_mixin_field-select
include ./_mixin_errormsg
include ./_mixins

-var navigation = { 'Главная': '#', 'О нас': '#', 'Продукция': '#', 'Сотрудничество': '#', 'Наши магазины': '#', 'Контакты': '#'};

head
  meta(charset='utf-8')

  title= pageTitle
  meta(name='description', content='')

  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  meta(name='format-detection', content='telephone=no')
  meta(name='format-detection', content='date=no')
  meta(name='format-detection', content='address=no')
  meta(name='format-detection', content='email=no')
  meta(content='notranslate', name='google')
    
  //- Favicon
    link(rel='apple-touch-icon' sizes='57x57' href='./favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-touch-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
    link(rel='manifest' href='./favicon/site.webmanifest')
    link(rel='mask-icon' href='./favicon/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='./favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-TileImage' content='./favicon/mstile-144x144.png')
    meta(name='msapplication-config' content='./favicon/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')

  //- link(rel='stylesheet', href='css/fonts.min.css')
  link(rel='stylesheet', href='./js/libs/tooltipster/css/tooltipster.bundle.css')
  link(rel='stylesheet', href='./css/style.min.css?v6')
  link(rel='stylesheet', href='./css/add.css?v0')
  
