// Header
header.header
  .header__wrapper
    form(action="#!" autocomplete="off").search.header__search
      input(type="search" placeholder="Enter the part number").search__input
      button(type="submit").search__btn
    button(type="button" data-id="exel").btn.header__btn1.j-btn Exel
    a(href="#!").btn.header__btn2 Original catalogs
    a(href="#!").btn.header__btn3 price-list APM.GROUP