.h2 Last Messages
// Last messages
.last-messages
  a(href="#!").last-messages__block
    span.last-messages__block-author Administrator
    p Good day, status changing for warehouses DWC9, KW1, CHT1, will be after 05.01.2021, Warehouses on inventory. 
  a(href="#!").last-messages__block
    span.last-messages__block-author Administrator
    p Good day, status changing for warehouses DWC9, KW1, CHT1, will be after 05.01.2021, Warehouses on inventory. 
  a(href="#!").last-messages__block
    span.last-messages__block-author Administrator
    p Good day, status changing for warehouses DWC9, KW1, CHT1, will be after 05.01.2021, Warehouses on inventory. 
  a(href="#!").last-messages__block
    span.last-messages__block-author Administrator
    p Good day, status changing for warehouses DWC9, KW1, CHT1
  .text-center
    a(href="#!").btn.--sm.--border See all messages