doctype

html(lang="ru")

  -var active = 'Cart' //активный пункт меню, список в header.jade
  -var pageTitle = 'Cart' + ' - APMG' //title страницы для генерации верстки

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader
      include ./_include/_exel

      main.content
        include ./_include/_aside
        section
          .container
            include ./_include/_header
            .content__row
              .div1
                .content__head
                  h1 Your Shopping Cart
                // Form
                .form
                  form(action="#!" autocomplete="off")
                    // White block
                    fieldset.white-block
                      .white-block__table.--cart
                        table(width="100%" border="0")
                          thead
                            tr
                              th.th1 
                                +field-checkbox({
                                  title: '',
                                  isLink: false,
                                  mods: '',
                                  attrs: {
                                    name: 'cart_check_all',
                                    checked: false,
                                  }
                                })
                              th.th2 Brand
                              th.th3 Part number
                              th.th4 Description
                              th.th5.text-center
                                //- button.active Delivery
                                //-   i 
                                select.selectric
                                  option(value="" selected disabled) Delivery
                                  option(value="delivery-sea") Sea 
                                  option(value="delivery-air") Air
                              th.th6 Weight/Volume
                              th.th7 Term
                              th.th8 Stock
                              th.th9 Price
                              th.th10.text-center Qty
                              th.th11 Amount
                              th.th12 &nbsp;
                          tbody
                            tr
                              td.td1
                                +field-checkbox({
                                  title: '',
                                  isLink: false,
                                  mods: '',
                                  attrs: {
                                    name: 'cart_check_1',
                                    checked: false,
                                  }
                                })
                              td.td2.color.--primary.nowrap(data-label="Brand" width="1")
                                b Honda
                              td.td3.--fs15.color.--primary(data-label="Part number" width="1")
                                b 76806SL0E11
                              td.td4(data-label="Description") MOTOR ASSY, WINDSHIELD NOZZLE
                              td.td5.color.--primary(data-label="Delivery")
                                select.selectric
                                  option(value="delivery-sea") Sea 
                                  option(value="delivery-air") Air
                              td.td6.color.--primary.nowrap(data-label="WG./VL./") 0.085 / 0
                              td.td7.color.--primary.nowrap(data-label="Term") 120/150
                              td.td8.color.--primary.nowrap(data-label="Stock") DS
                              td.td9.--fs15.color.--primary.nowrap(data-label="Price") 
                                b 13.80 
                                | $
                              td.td10(data-label="Qty") 
                                .form-count.j-count
                                  button(type="button").btn-minus
                                  button(type="button").btn-plus
                                  input(type='text' value='1')
                              td.td11.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 13.80 
                                | $
                              td.td12(width="1")
                                .cart__btns
                                  button(type="button" title="This div has a tooltip with HTML when you hover over it!").tooltip
                                    i.icon-comment
                                  button(type="button")
                                    i.icon-close
                            tr
                              td.td1
                                +field-checkbox({
                                  title: '',
                                  isLink: false,
                                  mods: '',
                                  attrs: {
                                    name: 'cart_check_2',
                                    checked: false,
                                  }
                                })
                              td.td2.color.--primary.nowrap(data-label="Brand" width="1")
                                b Honda
                              td.td3.--fs15.color.--primary(data-label="Part number" width="1")
                                b 76806SL0E11
                              td.td4(data-label="Description") MOTOR ASSY, WINDSHIELD NOZZLE
                              td.td5.color.--primary(data-label="Delivery")
                                select.selectric
                                  option(value="delivery-sea") Sea 
                                  option(value="delivery-air") Air
                              td.td6.color.--primary.nowrap(data-label="WG./VL./") 0.085 / 0
                              td.td7.color.--primary.nowrap(data-label="Term") 120/150
                              td.td8.color.--primary.nowrap(data-label="Stock") DS
                              td.td9.--fs15.color.--primary.nowrap(data-label="Price") 
                                b 13.80 
                                | $
                              td.td10(data-label="Qty") 
                                .form-count.j-count
                                  button(type="button").btn-minus
                                  button(type="button").btn-plus
                                  input(type='text' value='1')
                              td.td11.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 13.80 
                                | $
                              td.td12(width="1")
                                .cart__btns
                                  button(type="button" title="This div has a tooltip with HTML when you hover over it!").tooltip
                                    i.icon-comment
                                  button(type="button")
                                    i.icon-close
                            tr
                              td.td1
                                +field-checkbox({
                                  title: '',
                                  isLink: false,
                                  mods: '',
                                  attrs: {
                                    name: 'cart_check_3',
                                    checked: false,
                                  }
                                })
                              td.td2.color.--primary.nowrap(data-label="Brand" width="1")
                                b Honda
                              td.td3.--fs15.color.--primary(data-label="Part number" width="1")
                                b 76806SL0E11
                              td.td4(data-label="Description") MOTOR ASSY, WINDSHIELD NOZZLE
                              td.td5.color.--primary(data-label="Delivery")
                                select.selectric
                                  option(value="delivery-sea") Sea 
                                  option(value="delivery-air") Air
                              td.td6.color.--primary.nowrap(data-label="WG./VL./") 0.085 / 0
                              td.td7.color.--primary.nowrap(data-label="Term") 120/150
                              td.td8.color.--primary.nowrap(data-label="Stock") DS
                              td.td9.--fs15.color.--primary.nowrap(data-label="Price") 
                                b 13.80 
                                | $
                              td.td10(data-label="Qty") 
                                .form-count.j-count
                                  button(type="button").btn-minus
                                  button(type="button").btn-plus
                                  input(type='text' value='1')
                              td.td11.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 13.80 
                                | $
                              td.td12(width="1")
                                .cart__btns
                                  button(type="button" title="This div has a tooltip with HTML when you hover over it!").tooltip
                                    i.icon-comment
                                  button(type="button")
                                    i.icon-close
                            tr
                              td.td1
                                +field-checkbox({
                                  title: '',
                                  isLink: false,
                                  mods: '',
                                  attrs: {
                                    name: 'cart_check_4',
                                    checked: false,
                                  }
                                })
                              td.td2.color.--primary.nowrap(data-label="Brand" width="1")
                                b Honda
                              td.td3.--fs15.color.--primary(data-label="Part number" width="1")
                                b 76806SL0E11
                              td.td4(data-label="Description") MOTOR ASSY, WINDSHIELD NOZZLE
                              td.td5.color.--primary(data-label="Delivery")
                                select.selectric
                                  option(value="delivery-sea") Sea 
                                  option(value="delivery-air") Air
                              td.td6.color.--primary.nowrap(data-label="WG./VL./") 0.085 / 0
                              td.td7.color.--primary.nowrap(data-label="Term") 120/150
                              td.td8.color.--primary.nowrap(data-label="Stock") DS
                              td.td9.--fs15.color.--primary.nowrap(data-label="Price") 
                                b 13.80 
                                | $
                              td.td10(data-label="Qty") 
                                .form-count.j-count
                                  button(type="button").btn-minus
                                  button(type="button").btn-plus
                                  input(type='text' value='1')
                              td.td11.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 13.80 
                                | $
                              td.td12(width="1")
                                .cart__btns
                                  button(type="button" title="This div has a tooltip with HTML when you hover over it!").tooltip
                                    i.icon-comment
                                  button(type="button")
                                    i.icon-close
                            tr
                              td.td1
                                +field-checkbox({
                                  title: '',
                                  isLink: false,
                                  mods: '',
                                  attrs: {
                                    name: 'cart_check_5',
                                    checked: false,
                                  }
                                })
                              td.td2.color.--primary.nowrap(data-label="Brand" width="1")
                                b Honda
                              td.td3.--fs15.color.--primary(data-label="Part number" width="1")
                                b 76806SL0E11
                              td.td4(data-label="Description") MOTOR ASSY, WINDSHIELD NOZZLE
                              td.td5.color.--primary(data-label="Delivery")
                                select.selectric
                                  option(value="delivery-sea") Sea 
                                  option(value="delivery-air") Air
                              td.td6.color.--primary.nowrap(data-label="WG./VL./") 0.085 / 0
                              td.td7.color.--primary.nowrap(data-label="Term") 120/150
                              td.td8.color.--primary.nowrap(data-label="Stock") DS
                              td.td9.--fs15.color.--primary.nowrap(data-label="Price") 
                                b 13.80 
                                | $
                              td.td10(data-label="Qty") 
                                .form-count.j-count
                                  button(type="button").btn-minus
                                  button(type="button").btn-plus
                                  input(type='text' value='1')
                              td.td11.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 13.80 
                                | $
                              td.td12(width="1")
                                .cart__btns
                                  button(type="button" title="This div has a tooltip with HTML when you hover over it!").tooltip
                                    i.icon-comment
                                  button(type="button")
                                    i.icon-close
                      .cart__bottom
                        .div1
                          .cart__bottom-top
                            .div1
                              .cart__bottom-counter You can place an order for these prices in the current: 
                                strong.--fs20 6 ds. 21 h. 21 min.
                            .div2
                              .cart__bottom-info
                                .div1 Pieces: 
                                  b 99 pc
                                .div2 Weight / volume: 
                                  b 0.34 kg
                                .div3 Total: 
                                  span
                                    b 68.14 
                                    | $
                        .div2
                          .cart__bottom-bottom
                            a(href="#!").btn.--border.--block.cart-btn-excel Unload in excel 
                            button(type="submit").btn.--block.cart-btn-checkout Checkout
                            button(type="button").cart-btn-save
                            button(type="button").cart-btn-close
                    .h2
                      b Placing an Order
                    fieldset.white-block
                      .h3
                        b Enter your details
                      .row
                        .col-12.col-md-6.col-xxl-3
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'cart-full-name',
                                placeholder: 'Full name',
                                required: false
                              }
                            })
                        .col-12.col-md-6.col-xxl-3
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'cart-city',
                                placeholder: 'City',
                                required: false
                              }
                            })
                        .col-12.col-md-6.col-xxl-3
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'cart-address',
                                placeholder: 'Address',
                                required: false
                              }
                            })
                        .col-12.col-md-6.col-xxl-3
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'cart-phone',
                                placeholder: 'Phone',
                                required: false
                              }
                            })
                      .row
                        .col-12.col-lg-3.col-xxl-4
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'cart-reference',
                                placeholder: 'Reference',
                                required: false
                              }
                            })
                        .col-12.col-lg-9.col-xxl-8
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'cart-comment',
                                placeholder: 'Comment',
                                required: false
                              }
                            })
                      .payment
                        .payment__row2
                          .div1
                            .h3
                              b Payment method
                            .payment__labels
                              label.payment__label
                                input(type="radio" name="payment" checked)
                                .payment__label-info *Insufficient funds on balance
                                .payment__label-text Payment 
                                  br
                                  | from balance
                              label.payment__label
                                input(type="radio" name="payment")
                                .payment__label-text Visa /
                                  br
                                  | Mastercard
                          .div2
                            .h3
                              b Delivery method
                            .payment__labels
                              label.payment__label
                                input(type="radio" name="delivery" checked)
                                .payment__label-text Pickup
                              label.payment__label
                                input(type="radio" name="delivery" disabled)
                                .payment__label-info *temporarily unavailable
                                .payment__label-text DHL
                      .cart__info When ordering auto parts from a warehouse of foreign suppliers, there may be a delay for reasons beyond our control, by clicking the "Confirm" button, you confirm your consent to this condition.
                      button(type="submit").btn.cart-btn Confirm

          //- div(style="height: 1000px; background-color: #000")
          //- include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js?v3")

