doctype html
html(lang="en" style="padding: 0; margin: 0; width: 100%; height: 100%;")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Thank you
  body(style="padding: 0; margin: 0; width: 100%; height: 100%; background: #F9FAFC")
    table(border='0' cellpadding='0' cellspacing='0' width='100%' style='background: #F9FAFC; height: 100%;')
      tbody
        tr
          td(border='0' width='100%' style='vertical-align: top; padding: 30px 0;')

            table(border='0' cellpadding='0' cellspacing='0' width='100%' style='background: transparent; width: 600px; margin: 0 auto;')
              tr
                td(align="left" valign="vertical")
                  a(href="#!") 
                    img(src="./tmp/email-logo.png", alt="" width="138" height="43" style="display: block; border: 0; outline: 0;")
                td(align="right" valign="vertical")
                  a(href="#!")
                    img(src="./tmp/email-btn.png", alt="" width="160" height="40" style="display: block; border: 0; outline: 0;")
              tr
                td(colspan="2" style="padding-top: 30px; text-align: center")
                  div(style="border-radius: 6px; color: #fff; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; min-height: 77px; padding: 40px 0; background: #30C4F3 url('./tmp/email-bg.png') center center no-repeat; background-size: cover;")
                    b(style="font-weight: bold; display: block; font-size: 36px; line-height: 41px;") Thank you,
                    br
                    span(style="font-size: 16px;") your order 
                      b №5819476
                      | &nbsp;on the site 
                      a(href="#!" target="_blank" style="color: #fff; text-decoration: none;") site-name.com in 
                      b progress
                      | !
              tr
                td(colspan="2" style="padding-top: 30px; padding-bottom: 30px; text-align: center") 
                  div(style="font-weight: bold; font-size: 20px; line-height: 23px; color: #333333; opacity: 0.5; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;") Content of order №5819476
              tr
                td(colspan="2" style="background: #fff; padding: 5px; border-radius: 6px;")

                  table(border='0' cellpadding='0' cellspacing='0' width='100%' style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif")
                    tr(style="font-size: 10px; line-height: 11px; color: #FFFFFF; text-transform: uppercase;")
                      th(style="background: #333333; white-space: nowrap; border-radius: 6px 0 0 6px; height: 30px; text-align: left; padding-left: 25px")
                        span(style="opacity: 0.5;") BRAND
                      th(style="background: #333333; white-space: nowrap; border-radius: 0; height: 30px; text-align: left; padding-left: 10px")
                        span(style="opacity: 0.5;") PART NUMBER
                      th(style="background: #333333; white-space: nowrap; border-radius: 0; height: 30px; text-align: left; padding-left: 10px")
                        span(style="opacity: 0.5;") description
                      th(style="background: #333333; white-space: nowrap; border-radius: 0; height: 30px; text-align: left; padding-left: 10px")
                        span(style="opacity: 0.5;") QTY
                      th(style="background: #333333; white-space: nowrap; border-radius: 0; height: 30px; text-align: left; padding-left: 10px")
                        span(style="opacity: 0.5;") PRICE
                      th(style="background: #333333; white-space: nowrap; border-radius: 0; height: 30px; text-align: left; padding-left: 10px")
                        span(style="opacity: 0.5;") ORDER ITEM STATUS
                      th(style="background: #333333; white-space: nowrap; border-radius: 0 6px 6px 0; height: 30px; text-align: left; padding-left: 10px; padding-right: 25px")
                        span(style="opacity: 0.5;") AMOUNT
                    tr
                      td(colspan="7" style="font-size: 0; height: 10px;") &nbsp;
                    tr(style="font-size: 11px; color: #333")
                      td(style="height: 30px; padding-left: 25px;")
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px;") 11 (20)
                      td(style="height: 30px; padding-left: 10px;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #F2994A; font-size: 10px;") In progress
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px;") 
                        b 235.54 
                        | $
                    tr(style="font-size: 11px; color: #333;")
                      td(style="height: 30px; padding-left: 25px; background: #F5F5FA; border-radius: 6px 0 0 6px;") 
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282; background: #F5F5FA;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 11 (20)
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #27AE60; font-size: 10px;") Purchased
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px; background: #F5F5FA; border-radius: 0 6px 6px 0;")
                        b 235.54 
                        | $
                    tr(style="font-size: 11px; color: #333")
                      td(style="height: 30px; padding-left: 25px;")
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px;") 11 (20)
                      td(style="height: 30px; padding-left: 10px;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #27AE60; font-size: 10px;") Purchased
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px;") 
                        b 235.54 
                        | $
                    tr(style="font-size: 11px; color: #333;")
                      td(style="height: 30px; padding-left: 25px; background: #F5F5FA; border-radius: 6px 0 0 6px;") 
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282; background: #F5F5FA;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 11 (20)
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #27AE60; font-size: 10px;") Purchased
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px; background: #F5F5FA; border-radius: 0 6px 6px 0;")
                        b 235.54 
                        | $
                    tr(style="font-size: 11px; color: #333")
                      td(style="height: 30px; padding-left: 25px;")
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px;") 11 (20)
                      td(style="height: 30px; padding-left: 10px;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #27AE60; font-size: 10px;") Purchased
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px;") 
                        b 235.54 
                        | $
                    tr(style="font-size: 11px; color: #333;")
                      td(style="height: 30px; padding-left: 25px; background: #F5F5FA; border-radius: 6px 0 0 6px;") 
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282; background: #F5F5FA;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 11 (20)
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #27AE60; font-size: 10px;") Purchased
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px; background: #F5F5FA; border-radius: 0 6px 6px 0;")
                        b 235.54 
                        | $
                    tr(style="font-size: 11px; color: #333")
                      td(style="height: 30px; padding-left: 25px;")
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px;") 11 (20)
                      td(style="height: 30px; padding-left: 10px;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #EB5757; font-size: 10px;") Canceled
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px;") 
                        b 235.54 
                        | $
                    tr(style="font-size: 11px; color: #333;")
                      td(style="height: 30px; padding-left: 25px; background: #F5F5FA; border-radius: 6px 0 0 6px;") 
                        b TOYOTA
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 3516850010
                      td(style="height: 30px; padding-left: 10px; color: #828282; background: #F5F5FA;") Gasket, transmission
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 11 (20)
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b 235.54 
                        | $
                      td(style="height: 30px; padding-left: 10px; background: #F5F5FA;") 
                        b(style="white-space: nowrap; color: #fff; white-space: nowrap; padding: 0 5px; text-transform: uppercase; background: #EB5757; font-size: 10px;") Canceled
                      td(style="height: 30px; padding-right: 25px; padding-left: 10px; background: #F5F5FA; border-radius: 0 6px 6px 0;")
                        b 235.54 
                        | $
                    tr
                      td(colspan="7" style="font-size: 0; height: 10px;") &nbsp;
              tr
                td(colspan="2" style="padding-top: 20px; text-align: center") 
                  div(style="font-size: 16px; line-height: 18px; color: #333333; opacity: 0.5; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;") You received this letter as user 
                    a(href="#!" style="color: #333333; text-decoration: underline") apm.group