doctype

html(lang="ru")

  -var active = 'My Messages' //активный пункт меню, список в header.jade
  -var pageTitle = 'My Messages' + ' - APMG' //title страницы для генерации верстки

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader
      include ./_include/_exel

      main.content
        include ./_include/_aside
        section
          .container
            include ./_include/_header
            .content__row
              .div1
                .content__head
                  h1 My Messages

                // Chat
                .chat
                  form(action="#!" autocomplete="off").search.--chat
                    input(type="search2" placeholder="Search chat").search__input
                    button(type="submit").search__btn
                  .chat__row
                    .div1
                      .chat__user
                        .chat__user-time Last message 28 Feb
                        .chat__user-wrapper
                          .chat__user-thumb
                            span 15
                            img(src="./tmp/icon-user.png", width="70" height="70" alt="")
                          .chat__user-content
                            .chat__user-rank Administrator
                            p Good day, status changing for warehouses DWC9, KW1, CHT1, will be after 05.01.2021, Warehouses
                    .div2
                      .chat__block
                        .chat__block-wrapper
                          .chat__question
                            .chat__question-block Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                            .chat__question-time 3:00 PM
                          .chat__question.--answer
                            .chat__question-block Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            .chat__question-time 3:00 PM
                          .chat__question
                            .chat__question-block Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            .chat__question-time 3:00 PM
                          .chat__question.--answer
                            .chat__question-block Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                            .chat__question-time 3:00 PM
                        form(action="#!").chat__form
                          .chat__form-textarea
                            input(name="chat-message" placeholder="Your message")
                          button(type="button").btn send a message

          //- div(style="height: 1000px; background-color: #000")
          //- include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js?v2")
    script.
      $(document).on('ready', function() {
        $('.navigation .active').removeClass('active');
        $('.navigation[aria-label="Main"] li:nth-child(4)').addClass('active');
      });

