doctype

html(lang="ru")

  -var active = 'My Orders' //активный пункт меню, список в header.jade
  -var pageTitle = 'My Orders' + ' - APMG' //title страницы для генерации верстки

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader
      include ./_include/_exel

      main.content
        include ./_include/_aside
        section
          .container
            include ./_include/_header
            .content__row
              .div1
                .content__head
                  h1 My Orders

                // Form
                .form
                  form(action="#!" autocomplete="off")
                    fieldset.white-block.--form
                      .row
                        .col-12.col-md-6.col-lg-4
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'part-number',
                                placeholder: 'Enter the part number',
                                required: false
                              }
                            })
                        .col-12.col-md-6.col-lg-4
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'search-reference',
                                placeholder: 'Search by reference',
                                required: false
                              }
                            })
                        .col-12.col-md-6.col-lg-4
                          .form-group
                            +field-text({
                              title: '',
                              hasJs: false,
                              isTextarea: false,
                              hasError: false,
                              helpText: '',
                              mods: '',
                              val: '',
                              attrs: {
                                name: 'Search-order-number',
                                placeholder: 'Search by order number',
                                required: false
                              }
                            })
                        .col-12.col-md-6.col-lg-4
                          .form-group
                            select.selectric
                              option(value="" selected disabled)  Product status
                              option(value="") Waiting
                              option(value="") Payment
                        .col-12.col-md-6.col-lg-4
                          .form-group
                            select.selectric
                              option(value="" selected disabled) Choose a warehouse
                              option(value="") 1
                              option(value="") 2
                        .col-12.col-md-6.col-lg-4
                          .form-group
                            .btns-block
                              button(type="submit").btn.--block Search
                              button(type="button").btn.--cancel Cancel
                      .export-exel
                        .div1 Export the found results to a separate file Excel
                        .div2
                          a(href="#!").btn.--border.--sm Upload to EXCEL

                ul.nav.nav-tab(role='tablist')
                  li.nav-tab__item.first(role='presentation')
                    a.nav-tab__link.active#tab1-tab(data-toggle='tab' href='#tab1' role='tab' aria-controls='tab1' aria-selected='true')
                      span.nowrap Orders
                  li.nav-tab__item(role='presentation')
                    a.nav-tab__link#tab2-tab(data-toggle='tab' href='#tab2' role='tab' aria-controls='tab2' aria-selected='false')
                      span.nowrap Products
                .tab-content
                  .tab-pane.active#tab1(role='tabpanel' aria-labelledby='tab1-tab')
                    // White block
                    .white-block
                      .white-block__table
                        table(width="100%" border="0")
                          thead
                            tr
                              th.th1 № orders
                              th.th2 Status
                              th.th3 Comment
                              th.th4 Amount
                              th.th5 Weight
                              th.th6 Date
                              th.th7 &nbsp;
                          tbody
                            tr
                              td.td1.--fs15.color.--primary(data-label="№ orders")
                                b 354654
                              td.td2(data-label="Status") 
                                span.status Waiting for payment
                              td.td3(data-label="Comment") Toyota steering column and brake discs for Outlander
                              td.td4.--fs15.color.--primary(data-label="Amount") 
                                b 235.54 
                                | &nbsp;$
                              td.td5.--fs15.color.--primary(data-label="Weight") 9 453 kg
                              td.td6.--fs15.color.--primary(data-label="Date") 30.01.2021
                              td.td7
                                a(href="#!").link-download Download
                            tr
                              td.td1.--fs15.color.--primary(data-label="№ orders")
                                b 354654
                              td.td2(data-label="Status") 
                                span.status.--payment Payment confirmed
                              td.td3(data-label="Comment") Toyota steering column and brake discs for Outlander
                              td.td4.--fs15.color.--primary(data-label="Amount") 
                                b 235.54 
                                | &nbsp;$
                              td.td5.--fs15.color.--primary(data-label="Weight") 9 453 kg
                              td.td6.--fs15.color.--primary(data-label="Date") 30.01.2021
                              td.td7
                                a(href="#!").link-download Download
                            tr
                              td.td1.--fs15.color.--primary(data-label="№ orders")
                                b 354654
                              td.td2(data-label="Status") 
                                span.status Waiting for payment
                              td.td3(data-label="Comment") Toyota steering column and brake discs for Outlander
                              td.td4.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 235.54 
                                | &nbsp;$
                              td.td5.--fs15.color.--primary.nowrap(data-label="Weight") 9 453 kg
                              td.td6.--fs15.color.--primary(data-label="Date") 30.01.2021
                              td.td7
                                a(href="#!").link-download Download
                            tr
                              td.td1.--fs15.color.--primary(data-label="№ orders")
                                b 354654
                              td.td2(data-label="Status") 
                                span.status Waiting for payment
                              td.td3(data-label="Comment") Toyota steering column and brake discs for Outlander
                              td.td4.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 235.54 
                                | &nbsp;$
                              td.td5.--fs15.color.--primary.nowrap(data-label="Weight") 9 453 kg
                              td.td6.--fs15.color.--primary(data-label="Date") 30.01.2021
                              td.td7
                                a(href="#!").link-download Download
                            tr
                              td.td1.--fs15.color.--primary(data-label="№ orders")
                                b 354654
                              td.td2(data-label="Status") 
                                span.status Waiting for payment
                              td.td3(data-label="Comment") Toyota steering column and brake discs for Outlander
                              td.td4.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 235.54 
                                | &nbsp;$
                              td.td5.--fs15.color.--primary.nowrap(data-label="Weight") 9 453 kg
                              td.td6.--fs15.color.--primary(data-label="Date") 30.01.2021
                              td.td7
                                a(href="#!").link-download Download
                            tr
                              td.td1.--fs15.color.--primary(data-label="№ orders")
                                b 354654
                              td.td2(data-label="Status") 
                                span.status Waiting for payment
                              td.td3(data-label="Comment") Toyota steering column and brake discs for Outlander
                              td.td4.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 235.54 
                                | &nbsp;$
                              td.td5.--fs15.color.--primary.nowrap(data-label="Weight") 9 453 kg
                              td.td6.--fs15.color.--primary(data-label="Date") 30.01.2021
                              td.td7
                                a(href="#!").link-download Download
                            tr
                              td.td1.--fs15.color.--primary(data-label="№ orders")
                                b 354654
                              td.td2(data-label="Status") 
                                span.status Waiting for payment
                              td.td3(data-label="Comment") Toyota steering column and brake discs for Outlander
                              td.td4.--fs15.color.--primary.nowrap(data-label="Amount") 
                                b 235.54 
                                | &nbsp;$
                              td.td5.--fs15.color.--primary.nowrap(data-label="Weight") 9 453 kg
                              td.td6.--fs15.color.--primary(data-label="Date") 30.01.2021
                              td.td7
                                a(href="#!").link-download Download
                      .account-pagination
                        +pagination()
                          +pagination-item('1', '#!')
                          +pagination-item('2', '#!')
                          +pagination-item('...')
                          +pagination-item('50', '#!', true)
                          +pagination-item('...')
                          +pagination-item('98', '#!')
                          +pagination-item('99', '#!')
                        .div2
                          a(href="#!").btn.--border.--sm Download balance
                  .tab-pane#tab2(role='tabpanel' aria-labelledby='tab2-tab')
                    // White block
                    .white-block.--form
                      p Information

              .div2.d-none.d-xxxl-block
                include ./_include/_last-messages

          //- div(style="height: 1000px; background-color: #000")
          //- include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")
    script.
      $(document).on('ready', function() {
        $('.navigation .active').removeClass('active');
        $('.navigation[aria-label="Main"] li:nth-child(4)').addClass('active');
      });

