/* modules */
.content {
  position: relative;
  padding: 30px 0 30px 60px;
  &__row {
    display: flex;
    margin: 0 -15px;
    &>div {
      padding-left: 15px;
      padding-right: 15px;
      &.div1 {
        flex-grow: 1;
        width: 100%;
      }
      &.div2 {
        flex-shrink: 0;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    padding-left: 295px;
  }
  @include media-breakpoint-up(xxxl) {
    &__row {
      margin-left: -15px;
      margin-right: -15px;
      &>div {
        padding-left: 15px;
        padding-right: 15px;
        &.div2 {
          width: 295px;
        }
        &.div1 {
          padding-top: 15px;
        }
      }
    }
  }
}
.row {
  @include media-breakpoint-up(xxxl) {
    margin-left: -15px;
    margin-right: -15px;
    &>[class*="col"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.aside {
  position: fixed;
  background: $color-gray;
  width: 60px;
  left: 0;
  top: 0;
  bottom: 0;
  touch-action: none;
  -ms-touch-action: none;
  z-index: 10;
  &__wrapper {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: auto;
    -ms-touch-action: auto;
    &-body {
      overflow: auto;
      min-height: 100%;
      height: auto;
      position: relative;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    padding: 20px 0 26px 0;
    align-items: center;
    width: 100%;
  }
  &__cart {
    position: relative;
    background: #F9FAFC;
    box-shadow: 0px 4px 10px rgba($color-black,.04);
    border-radius: 150px;
    text-decoration: none;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    flex-shrink: 0;
    .span {
      position: absolute;
      top: -2px;
      right: -4px;
      border-radius: 50%;
      color: $color-white;
      text-align: center;
      width: 16px;
      height: 15px;
      line-height: 15px;
      background: $color-red;
      font-size: 7px;
      font-weight: 700;
    }
    i {
      font-size: 12px;
      line-height: 1;
      vertical-align: 1px;
    }
  }
  @include media-breakpoint-up(sm) {
    z-index: 160;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {
    width: 295px;
    &__header {
      flex-direction: row;
      height: 109px;
      align-items: center;
      justify-content: center;
    }
    &__cart {
      width: 50px;
      height: 50px;
      line-height: 50px;
      i {
        font-size: 16px;
        vertical-align: 0px;
      }
      .span {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 9px;
      }
      &:hover {
        background: $color-blue;
        color: $color-white;
      }
    }
  }
}

.exel {
  position: fixed;
  top: 0;
  width: 270px;
  right: 0;
  bottom: 0;
  z-index: 170;
  text-align: center;
  transition: all .35s;
  text-align: left;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  &__wrapper {
    position: absolute;
    background: $color-white;
    box-shadow: 0px 4px 20px rgba($color-blue,.1);
    left: 0px;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    &-body {
      padding: 40px 20px;
      overflow: auto;
      min-height: 100%;
      height: auto;
      position: relative;
    }
  }
  @include media-breakpoint-up(sm) {}
  @include media-breakpoint-up(xs375) {
    width: 314px;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {}
}
.base-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color-white,.7);
  backdrop-filter: blur(6px);
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s;
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
.last-messages {
  &__block {
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    color: $primary-color;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 25px 30px 35px 30px;
    max-height: 177px;
    display: block;
    &::before {
      content: '';
      height: 70px;
      left: 0;
      right: 0;
      bottom: 14px;
      position: absolute;
      background: linear-gradient(0deg, #FFFFFF 15.49%, rgba(255, 255, 255, 0) 100%);
      pointer-events: none;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-author {
      color: #828282;
      font-size: 12px;
      margin-bottom: 8px;
      display: block;
    }
  }
  @include media-breakpoint-up(sm) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {}
}
.news {
  &__row {
    display: flex;
    flex-direction: column;
  }
  &__block {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-thumb {
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 6px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
      img {
        border-radius: 6px;
      }
    }
    &-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
      text-decoration: none;
      color: $primary-color;
    }
    &-time {
      position: absolute;
      right: 0;
      top: 30px;
      background: $primary-color;
      color: $color-white;
      height: 20px;
      line-height: 20px;
      border-radius: 25px;
      width: 100px;
      text-align: center;
      font-size: 10px;
    }
  }
  @include media-breakpoint-up(sm) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    &__block {
      flex-direction: row;
      align-items: center;
      &-thumb {
        width: 127px;
        margin-right: 20px;
        flex-shrink: 0;
        margin-bottom: 0;
        height: 135px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      &-time {
        right: auto;
        top: auto;
        margin-left: -110px;
        margin-top: 2px;
      }
      &-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__block {
      &-thumb {
        img {
          transform: scale(1);
        }
        a {
          img {
            transition: all 0.34s;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxxl) {
    &__block {
      margin-bottom: 30px;
      &-thumb {
        width: 280px;
        margin-right: 30px;
      }
    }
  }
}
.white-block {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 30px 20px;
  margin-bottom: 30px;
  .tab-pane & {
    border-radius: 0;
  }
  &.--form {
    padding-bottom: 10px;
  }
  &__table {
    border-bottom: 1px solid $color-gray;
    font-size: 13px;
    margin: -30px -20px 10px -20px;
    color: #828282;
    table {
      display: block;
      thead {
        display: none;
      }
      tbody {
        display: block;
      }
      tr {
        display: block;
        padding-top: 30px;
        padding-bottom: 20px;
      }
      td {
        display: flex;
        border: 0;
        padding: 0 10px 10px 10px;
        &::before {
          content: attr(data-label);
          font-weight: bold;
          width: 85px;
          min-width: 85px;
          font-size: 10px;
          color: $primary-color;
          opacity: 0.5;
          text-transform: uppercase;
          line-height: 20px;
        }
        a {
          text-decoration: none;
          color: #828282;
        }
      }
      tr {
        &:nth-child(even) {
          background: rgba($color-gray,.5);
        }
      }
    }
  }
  .pagination {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -10px;
  }
  @include media-breakpoint-up(xs375) {
    &__table {
      table {
        td {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    .pagination {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    .tab-pane & {
      border-radius: 0 6px 6px 6px;
    }
    &__table {
      table {
        display: table;
        thead {
          display: table-header-group;
          tr {
            display: table-row;
            th {
              white-space: nowrap;
              height: 30px;
              background: $color-gray;
              padding: 0 20px 0px 0;
              text-transform: uppercase;
              font-size: 10px;
              color: $primary-color;
              font-weight: bold;
              &:first-child {
                padding-left: 30px;
                border-top-left-radius: 6px;
                .tab-pane & {
                  border-top-left-radius: 0px;
                }
              }
              &:last-child {
                padding-right: 30px;
                border-top-right-radius: 6px;
              }
            }
          }
        }
        tbody {
          display: table-row-group;
          tr {
            display: table-row;
            background: transparent !important;
            padding: 0;
            td {
              display: table-cell;
              vertical-align: top;
              padding: 0 20px 30px 0;
              &::before {
                display: none;
              }
              &:first-child {
                padding-left: 30px;
              }
              &:last-child {
                padding-right: 30px;
              }
            }
            &:first-child {
              td {
                padding-top: 30px;
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxxl) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    &__table {
      margin-left: -30px;
      margin-right: -30px;
      table {
        tbody {
          tr {
            td {
              &:first-child {
                padding-left: 40px;
              }
              &:last-child {
                padding-right: 40px;
              }
            }
          }
        }
        thead {
          tr {
            th {
              &:first-child {
                padding-left: 40px;
              }
              &:last-child {
                padding-right: 40px;
              }
            }
          }
        }
      }
    }
  }
}
.balance{
  &__block {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba($primary-color,.5);
    padding: 30px 15px 30px 30px;
  }
  &__total {
    height: 66px;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: -15px 0px 25px -15px;
    border-radius: 6px;
    color: $color-white;
    font-weight: bold;
    font-size: 18px;
    small {
      font-weight: 400;
      font-size: 14px;
      margin-left: 5px;
    }
    .div2 {
      white-space: nowrap;
    }
  }
  &__table {
    table {
      display: block;
      tbody {
        display: block;
        tr {
          display: block;
          td {
            display: block;
            padding: 0;
            &.div2 {
              font-weight: bold;
              font-size: 18px;
              color: $primary-color;
              padding-bottom: 5px;
              small {
                font-weight: 400;
                font-size: 14px;
                margin-left: 5px;
              }
            }
          }
          &:last-child {
            td {
              &.div2 {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    .row {
      min-height: 100%;
      &>div {
        min-height: 100%;
      }
    }
    &__block {
      height: calc(100% - 20px);
    }
  }
  @include media-breakpoint-up(md) {
    &__block {
      color: $primary-color;
      padding-right: 30px;
      font-size: 15px;
    }
    &__total {
      margin-right: -15px;
    }
    &__table {
      table {
        display: table;
        width: 100%;
        tbody {
          display: table-row-group;
          tr {
            display: table-row;
            td {
              display: table-cell;
              padding-bottom: 10px;
              &.div2 {
                text-align: right;
                padding-bottom: 10px;
              }
            }
            &:last-child {
              td {
                padding-bottom: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
.account-info {
  color: #828282;
  font-size: 12px;
  @include media-breakpoint-up(lg) {
    position: relative;
    height: 260px;
    overflow: hidden;
    overflow-y: visible;
    padding-right: 5px;
    &::-webkit-scrollbar {
      width: 4px;
      background-color: rgba(#C4C4C4,.4);
    }
    &::-webkit-scrollbar-track {
      box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-blue;
    }
  }
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;    /* undo display:none          */
    height: 0;         /* height:0 is also invisible */
    overflow: hidden;  /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;      /* let the content decide it  */
}

.nav-tab {
  overflow-x: auto;
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-bottom: 1px solid $color-white;
  &__item {
    list-style: none;
    margin: 0;
    &+li {
      margin-left: -25px;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-white;
    background: $color-blue;
    display: block;
    overflow: hidden;
    clip-path: polygon(calc(100% - 20px) 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    position: relative;
    z-index: 5;
    border-radius: 6px 6px 0 0;
    &:hover {
      color: $color-white;
      background: rgba($color-blue,.7);
    }
    span {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 35px;
    }
    &.active {
      background: $color-white;
      color: $primary-color;
      z-index: 10;
      cursor: default;
    }
  }
  @include media-breakpoint-up(lg) {
    overflow: none;
  }
}
.nowrap {
  white-space: nowrap !important;
}
.account-pagination {
  display: flex;
  flex-direction: column;
  .div2 {
    padding-top: 30px;
    text-align: center;
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .div2 {
      padding-top: 0;
      text-align: right;
    }
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  &+ label {
    min-width: 160px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    margin: 0;
    text-align: center;
    color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 25px;
    padding: 0 10px;
    background: transparent;
    max-width: 100%;
    &:focus {
      outline: none;
    }
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
    }
  }
}