/* buttons */
button {
  @include button-reset;
  &:focus {
    outline: none;
  }
}
.btn {
  background: $color-blue;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(48, 196, 243, 0.5);
  border-radius: 150px;
  font-size: 14px;
  color: $color-white;
  height: 50px;
  min-width: 138px;
  transition: all 0.35s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid $color-blue;
  font-weight: 700;
  padding: 0 20px;
  &.--sm {
    height: 30px;
    font-size: 12px;
    text-transform: none;
    min-width: 160px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 0 10px;
  }
  &.--border {
    background: transparent;
    color: $color-blue;
    box-shadow: none;
  }
  &.--block {
    display: block;
    width: 100%;
  }
  &.--settings {
    max-width: 383px;
  }
  @include media-breakpoint-up(xl) {
    &:hover {
      background: rgba($color-blue,.7);
      border-color: rgba($color-blue,.7);
      box-shadow: 0px 4px 10px rgba(48, 196, 243, 0);
      color: $color-white;
    }
    &.--border {
      &:hover {
        color: $color-white;
        background: $color-blue;
      }
    }
  }
}
a.btn {
  line-height: 50px;
  &.--sm {
    line-height: 30px;
  }
}
.btn-close {
  position: absolute;
  top: 29px;
  left: -50px;
  width: 50px;
  height: 50px;
  background: $primary-color;
  color: $color-white;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 150px 0 0 150px;
  &::before {
    content: '\e906';
    font-family: $font-icomoon;
    line-height: 1;
    left: 5px;
    position: relative;
  }
  @include media-breakpoint-up(xl) {
    transition: all 0.35s;
    &:hover {
      background: $color-blue;
    }
  }
}