/* menu */
.navigation {
  width: 60px;
  margin-bottom: 180px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      &>a, &>span {
        text-decoration: none;
        color: $primary-color;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: transparent;
        display: block;
        font-size: 14px;
        overflow: hidden;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: -2px;
          height: 60px;
          width: 6px;
          border-radius: 10px;
          background: $color-blue;
          opacity: 0;
        }
        .span {
          display: none;
          .icon-arrow-down {
            margin-left: 5px;
            font-size: 8px;
            vertical-align: middle;
          }
        }
        .icon {
          width: 20px;
          height: 20px;
          vertical-align: middle;
          display: inline-block;
          position: relative;
          flex-shrink: 0;
          // background: pink;
          &__round {
            position: absolute;
            width: 10px;
            height: 10px;
            background: $color-red;
            border-radius: 50%;
            right: -6px;
            top: -6px;
            z-index: 1;
          }
          i {
            position: absolute;
            font-size: 20px;
            left: 0;
            top: 0;
          }
          b {
            position: absolute;
            font-size: 14px;
            left: 0;
            top: 0;
            color: $color-blue;
            line-height: 20px;
          }
        }
      }
      &.active {
        &>a, &>span {
          background: #E7E7F0;
          &::before {
            opacity: 1;
          }
          i {
            color: $color-blue;
          }
        }
      }
    }
  }
  &.--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
  }
  @include media-breakpoint-up(sm) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {
    width: 295px;
    ul {
      li {
        &>a, &>span {
          display: flex;
          align-items: center;
          padding-left: 49px;
          .span {
            font-weight: 500;
            display: block;
            transition: all 0.35s;
          }
          .icon {
            margin-right: 19px;
          }
        }
        &>a {
          &:hover {
            .span {
              color: $color-blue;
            }
          }
        }
      }
    }
  }
}
  
