$color-d-1: #d41c0c;
$color-d-1-10: lighten($color-d-1,10%);
$color-d-1-15: lighten($color-d-1,15%);
$color-d-1-20: lighten($color-d-1,20%);
$color-d-1--5: darken($color-d-1,5%);
$color-d-1--10: darken($color-d-1,10%);
$color-d-2: #38ada5;
$color-d-2-10: lighten($color-d-2,10%);
$color-d-2-2: lighten($color-d-2,20%);
$color-d-2--10: darken($color-d-2,10%);
$color-d-3: #ff7519;
$color-d-3-10: lighten($color-d-3,10%);
$color-d-5: #444444;
$color-d-5-10: lighten($color-d-5,10%);
$color-d-6: #8D8D8D;
$color-d-7: #999999;
$color-d-8: #cccccc;

$color-l-1: #c4c4c4;
$color-l-1-10: lighten($color-l-1,10%);
$color-l-2: #ededed;
$color-l-2-5: lighten($color-l-2,5%);
$color-l-2--10: darken($color-l-2,10%);
$color-l-3: #8e8e8e;

$color-s-1: #fe4261;
$color-s-2: #9b51e0;
$color-s-3: #2a6ca6;

$color-white: #ffffff;
$color-black: #000000;
$color-dark: #333;
$color-gray: #F5F5FA;
$color-red: #EB5757;
$color-blue: #30C4F3;
$color-pink: #fec1cc;
$color-green: #51b261;
$color-orange: #ff7519;

$primary-color: #333333;
$link-color: $color-blue;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-inter: 'Inter', $primary-font;
$font-icomoon: 'icomoon';